$zero: 0 0 0 0;

body{
  cursor: url('../../resources/GTA.cur'), auto;
  margin: $zero;
  min-width: 980px;
  min-height: 100vh;

  header{
    display: flex;
    height: 10vh;
    background: rgba(246, 0, 3, 0.95);
  };

  .container{
    display: flex;
    height: 77vh;
  };

  footer{
    $footerHeight: 82px;
    background: #f2f2f2;
    position: relative;
    display: flex;
    height: $footerHeight;
    div{
      width: 100%;
      position: absolute;
      border-top: 1px solid #e4e4e4;
    }
    #upperFooter{
      height: 42px;
    }
    #lowerFooter{
      top:50%;
      height: 40px;
    }
  };
}