body{
  cursor: url('../../resources/GTA.cur'), auto;
  margin: 0;
  min-width: 980px;
  min-height: 556px;
  font-family: arial,sans-serif;
  a{
    text-decoration: none;
    font-size: small;
    &:hover{
      text-decoration: underline;
    }
  };

  .submenu{
    display: none;
    z-index: 1;
    border: 1px solid red;
    max-height: 530px;
    height: 496px;
    min-height: 196px;
    overflow-y: auto;
    width: 320px;
    top: 9.29vh;
    right: 2vw;
    position: absolute;

    background: #fff;
    border-color: rgba(0,0,0,.2);
    border-radius: 2.5px;
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    font-size: small;
    &:target{
      display: block;
    }
    .apps{
      padding: 28px;
      padding-right: 27px;

      td{
        position: relative;
        display: inline-block;
        z-index: 999;
        height: 98px;
        width: 86px;
        text-align: center;
        line-height: 40px;
        .appCell {
          top:8px;
          left: 2px;
          position: absolute;
          height: 84px;
          width: 84px;
          text-decoration: none !important;
          user-select: none;
          outline: none;
          color: rgba(0,0,0,0.87);
          display: inline;
          padding: 1px;
          border: 1px solid rgb(255, 255, 255);
          &:hover{
            border-radius: 2px;
            border: 1px solid rgba(204, 204, 204, 0.51);
            -webkit-transition: all 0.1s ease-in-out;
          }
          &:link{
            text-decoration: none !important;
          }
          .picBlock {
            height: 64px;
            width: 64px;
            background-image: url("../../resources/p1_c82e4f78.png");
            margin: auto;
            overflow: hidden;
          }
          span{
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            width: 84px;
            display: block;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .more{
      margin: 0;
      line-height: 40px;
      text-align: center;
      width: 320px;
      background: #f5f5f5;
    }
  };

  header{
    display: flex;
    height: 10vh;
    position: relative;
      .rightTop {
        width: 50%;
        height: 100%;
        position: absolute;
        right:0;
        .link {

          line-height: 4.8em;
          padding-left: 14px;
          margin-right: -3px;
          color: rgba(0,0,0,0.87);
          &:hover{
            opacity: 0.77;
          }
        }
        .menu {
          background-position: -132px -38px;
          vertical-align: middle;
          margin: 0 11px 0 13px;
          min-width: 30px;
          min-height: 30px;
          display: inline-block;
          opacity: 0.55;
          background-image: url('../../resources/icons.png');
          position: relative;
          &:hover {  opacity: 0.85;  }
          &:indeterminate { background-color: red}
        }
        .logIn {
          color: #fff;
          line-height: 28px;
          border: 1px solid #4285f4;
          border-radius: 3px;
          font-weight: bold;
          display: inline-block;
          text-decoration: none;
          user-select: none;
          background: -webkit-linear-gradient(top,#4387fd,#4683ea);
          background: linear-gradient(top,#4387fd,#4683ea);
          padding: 0 12px;
          outline: none;
          &:active{ background: linear-gradient(top, #405afd, #566fea)  }
        }
        span {
          float: left;
          height: 100%;
          position: absolute;
          margin-right: 24px;
          right: 6px;
        }
      }
  };

  .container{
    position: relative;
    display: flex;
    height: 77vh;
  };

  footer{
    background: #f2f2f2;
    position: relative;
    display: flex;
    height: 82px;
    div{
      width: 100%;
      position: absolute;
      border-top: 1px solid #e4e4e4;
      color: rgba(0, 0, 0, .54);
      .simleText {
        position: absolute;
        top: 50%;
        margin-top: -0.7em;
        padding-left: 30px;
        font-size: 15px;
      }

    }
    #upperFooter {
      height: 42px;
    }
    #lowerFooter{
      top:42px;
      height: 40px;
      .link {
        line-height: 3em;
        padding-left: 30px;
        margin-right: -7.5px;
        color: #666;
      }
      span{
        position: absolute;
        margin-right: 31px;
        right: 7px;
      }
    }
  };
}

.container{
  .searchArea{
    top: 21.1vh;
    left:29.1%;
    margin: auto;
    position: absolute;
    text-align: center;
    img{
      width: 272px;
      height: 92px;
      margin-bottom: 22px;
    }
    .searchField {
      width: 42.5vw;
      min-width: 484px;
      height: 44px;
      margin: 0 auto;
    }
      input{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 5px 9px 0 16px;
        border:none;
        outline:none;
        white-space: nowrap;
        font: 16px arial,sans-serif;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
        &:hover{
          box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        }
        &:focus{
          box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        }
    }
  }
}